BasedOnStyle: LLVM
ColumnLimit: 80


AlignAfterOpenBracket: AlwaysBreak

AllowShortIfStatementsOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: Always