Checks: '
  -*,
  clang-analyzer-*,
  modernize-*,
  cppcoreguidelines-*,
  performance-*,
  bugprone-*,
  misc-*,
  llvm-*,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard,
  -modernize-use-nullptr, 
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-avoid-magic-numbers, 
  -misc-non-private-member-variables-in-classes,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-owning-memory,
  -bugprone-reserved-identifier'
HeaderFilterRegex: '.*/src/.*'
